@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    
    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: PT-chaser;
  src: url("../public/fonts/CHASER.ttf");
}
.container {
  @apply w-11/12 mx-auto lg:w-[86%];
}
