@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: PT-chaser;
  src: url("../public/fonts/CHASER.ttf");
}
@font-face {
  font-family: PT-gilroy-light;
  src: url("../public/fonts/Gilroy-Light.otf");
}
@font-face {
  font-family: PT-gilroy-bold;
  src: url("../public/fonts/Gilroy-ExtraBold.otf");
}
.container {
  @apply w-11/12 mx-auto lg:w-[86%];
}

.bg-text {
  @apply text-transparent bg-clip-text;
}
